# Introduction To Pandas
Learn the basics of the pandas library.

In [1]:
import pandas as pd

### Read in a CSV file
    Description
- Use the pandas.read_csv() function to read the file "food_info.csv" into a dataframe named food_info.

In [34]:
food_info = pd.read_csv('/home/aida/Desktop/Dataquest/Step 2/data-analysis-with-pandas/data/food_info.csv')
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

### Exploring the DataFrame
    Description
- Select the first 20 rows from food_info and assign to the variable first_twenty.

In [35]:
first_twenty = food_info.head(20)
dimensions = first_twenty.shape
rows = dimensions[0]
columns = dimensions[1]
print(rows)
print(columns)

20
36

###  Selecting a row
    Description
- Assign the 100th row of food_info to the variable hundredth_row.

In [36]:
hundredth_row = food_info.loc[99]
print(hundredth_row)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

###  Data types
To access the types for each column, use the DataFrame.dtypes attribute to return a Series containing each column name and its corresponding type.

In [39]:
food_info.dtypes

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [40]:
food_info['Vit_A_IU'].dtype

dtype('float64')

### Selecting multiple rows
    Description
- Select the last 5 rows of food_info and assign to the variable last_rows.

In [50]:
rows = food_info.shape[0]
last_rows = food_info[rows-5:rows]
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

### Selecting individual columns
    Description
- Assign the "FA_Sat_(g)" column to the variable saturated_fat.
- Assign the "Cholestrl_(mg)" column to the variable cholesterol.

In [52]:
saturated_fat = food_info["FA_Sat_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]

### Selecting multiple columns by name
    Description
- Select the 'Selenium_(mcg)' and 'Thiamin_(mg)' columns and assign the resulting dataframe to selenium_thiamin.

In [56]:
selenium_thiamin = food_info[['Selenium_(mcg)', 'Thiamin_(mg)']]

### Practice
    Description

    - Select and display only the columns that use grams for measurement (that end with "(g)"). To accomplish this:
- Use the columns attribute to return the column names in food_info and convert to a list by calling the method tolist()
- Create a new list, gram_columns, containing only the column names that end in "(g)". The string method endswith() returns True if the string object calling the method ends with the string passed into the parentheses.
- Pass gram_columns into bracket notation to select just those columns and assign the resulting dataframe to gram_df
- Then use the dataframe method head() to display the first 3 rows of gram_df.

In [72]:
col = food_info.columns.tolist()
gram_columns = []
for i in col:
    if i.endswith("(g)"):
        gram_columns.append(i)

In [75]:
gram_df = food_info[gram_columns]
gram_df.head(3)

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694