# Pandas Internals Series
Learn more about how Series objects work.

###  Data Structures

- The three key data structures in pandas are:

    - Series objects (collections of values)
    - DataFrames (collections of Series objects)
    - Panels (collections of DataFrame objects)

In [3]:
import pandas as pd
import numpy as np
from pandas import Series

In [4]:
fandango = pd.read_csv("/home/aida/Desktop/Dataquest/Step 2/data-analysis-with-pandas/data/fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

### Integer Indexes
    Instructions

- Select the FILM column and print the first five values.
- Then, select the RottenTomatoes column and print the first five values.

In [14]:
series_film = fandango["FILM"]
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [8]:
series_rt = fandango["RottenTomatoes"]
series_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

### Custom Indexes
    Instructions
- Create a new Series object named series_custom that has a string index (based on the values from film_names), and contains all of the Rotten Tomatoes scores from series_rt.

In [32]:
rt_scores = series_rt.values
film_names = series_film.values
series_custom = pd.Series(rt_scores, index=film_names)
series_custom[['Cinderella (2015)', 'Taken 3 (2015)', 'Minions (2015)', 'Leviathan (2014)']]

Cinderella (2015)    85
Taken 3 (2015)        9
Minions (2015)       54
Leviathan (2014)     99
dtype: int64

###  Integer Index Preservation
    Instructions
- Assign the values in series_custom at indexes 5 through 10 to the variable fiveten. Then, print fiveten to verify that you can still use integer values for selection.

In [48]:
fiveten = series_custom[5:11]
print(fiveten)

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

### Reindexing
    Instructions

- Sort this index using the Python 3 core method sorted(), then pass the result in to the Series method reindex().

In [64]:
original_index = series_custom.index
original_index_sorted = sorted(original_index)
sorted_by_index = series_custom.reindex(original_index_sorted)

### Sorting
    Instructions
    
- Sort series_custom by index using sort_index(), and assign the result to the variable sc2.
- Sort series_custom by values, and assign the result to the variable sc3.
- Finally, print the first 10 values in sc2 and the first 10 values in sc3.

In [67]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()

### Transforming Columns With Vectorized Operations

    Instructions
- Normalize series_custom (which is currently on a 0 to 100-point scale) to a 0 to 5-point scale by dividing each value by 20.

In [68]:
series_normalized = series_custom / 20

### Comparing and Filtering
    Insructions
- In the following code cell, the criteria_one and criteria_two statements return Boolean Series objects.
- Return a filtered Series object named both_criteria that only contains the values where both criteria are true.

In [74]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_criteria = series_custom[(criteria_one) & (criteria_two)]

### Alignment
    Instructions
    
    rt_critics and rt_users are Series objects containing the average ratings from critics and users for each film.
    Both Series objects use the same custom string index, which they base on the film names. Use the Python arithmetic operators to return a new Series object, rt_mean, that contains the mean ratings from both critics and users for each film.

In [93]:
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])
rt_mean = Series( (rt_critics + rt_users) / 2)
print(rt_mean.head())

FILM
Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
Ant-Man (2015)                    85.0
Do You Believe? (2015)            51.0
Hot Tub Time Machine 2 (2015)     21.0
dtype: float64