# Computation with NumPy
Learn how to select elements in arrays and perform computations with NumPy. <br>
We will work with world_alcohol.csv, which records per capita alcohol consumption for each country. Our goal is to determine which country consumes the most alcohol per capita.

#### Import another notebook into this one

In [108]:

%%capture
%run getting-started-with-numpy.ipynb

### Arrays Comparison
    Description
- Extract the third column in world_alcohol, and compare it to the string Canada. 
- Extract the first column in world_alcohol, and compare it to the string 1984.

In [109]:
countries_canada = (world_alcohol[:, 2] == 'Canada')
years_1984 = (world_alcohol[:, 0] == '1984')

### Selecting Element
    Description
- Compare the third column of world_alcohol to the string Algeria.
- Select only the rows in world_alcohol where country_is_algeria is True.

In [70]:
country_is_algeria = (world_alcohol[:, 2] == 'Algeria')
country_algeria = (world_alcohol[country_is_algeria, :])

In [71]:
print(country_is_algeria)
print(country_algeria.shape)

[False False False ... False False False]
(20, 5)

### Comparisons with Multiple Conditions
    Description
- Perform a comparison with multiple conditions, and join the conditions with &.
      - Compare the first column of world_alcohol to the string 1986.
      - Compare the third column of world_alcohol to the string Algeria.
      - Enclose each condition in parentheses, and join the conditions with &.
      - Assign the result to is_algeria_and_1986.
- Use is_algeria_and_1986 to select rows from world_alcohol.
- Assign the rows that is_algeria_and_1986 selects to rows_with_algeria_and_1986.

In [72]:
is_algeria_and_1986 = (world_alcohol[:, 0] == '1986') & (world_alcohol[:, 2] == 'Algeria')
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986, :]

In [73]:
# shembull
matrix = np.array([
            [5, 10, 15], 
            [20, 25, 30],
            [35, 40, 45]
         ])

In [74]:
second_column_25 = matrix[:, 1] == 25 # po e merr kolonen e dyte po e shnderron ne nje rresht
second_column
matrix[:, 1]

array([10, 25, 40])

In [75]:
matrix[second_column_25, 1] = 10 # ne kolonen/rreshtin qe e gjetem me heret kudo qe vlera eshte true e zev me 10
matrix

array([[ 5, 10, 15],
       [20, 10, 30],
       [35, 40, 45]])

### Replace Values
    Description
- Replace all instances of the string 1986 in the first column of world_alcohol with the string 2014.
- Replace all instances of the string Wine in the fourth column of world_alcohol with the string Grog.

In [76]:
first_column = world_alcohol[:, 0] == '1986'
replace_year_value = world_alcohol[first_column, 0] = '2014'


fourth_column = world_alcohol[:, 3] == 'Wine'
replace_beverage_value = world_alcohol[fourth_column, 3] = 'Grog'

In [77]:
print(world_alcohol)

[['2014' 'Western Pacific' 'Viet Nam' 'Grog' '0']
 ['2014' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Grog' '1.62']
 ...
 ['2014' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2014' 'Africa' 'Swaziland' 'Other' '5.15']]

### Replacing Empty Strings
    Description
- Compare all the items in the fifth column of world_alcohol with an empty string ''. Assign the result to is_value_empty.
- Select all the values in the fifth column of world_alcohol where is_value_empty is True, and replace them with the string 0.

In [78]:
is_value_empty = world_alcohol[:,4] == ''
world_alcohol[is_value_empty, 4] = 0

### Converting Data Types
    Description
- Extract the fifth column from world_alcohol, and assign it to the variable alcohol_consumption.
- Use the astype() method to convert alcohol_consumption to the float data type.

In [81]:
alcohol_consumption = world_alcohol[:, 4]
alcohol_consumption = np.asfarray(alcohol_consumption, float)

### Computing with NumPy
    Description
- Use the sum() method to calculate the sum of the values in alcohol_consumption.
- Use the mean() method to calculate the average of the values in alcohol_consumption.

In [83]:
total_alcohol = alcohol_consumption.sum()
average_alcohol = alcohol_consumption.mean()

### Total Annual Alcohol Consumption
    Description
- Create a matrix called that only contains the rows in world_alcohol where the first column is the string 1987 and the third column is the string Canada.
- Extract the fifth column of canada_1987, replace any empty strings ('') with the string 0, and convert the column to the float data type. Assign the result to canada_alcohol.
- Compute the sum of canada_alcohol. Assign the result to total_canadian_drinking.

In [126]:
is_canada_1987 = (world_alcohol[:, 0] == '1987') & (world_alcohol[:, 2] == 'Canada')
canada_1987 = world_alcohol[is_canada_1987, :]
canada_alcohol = canada_1987[:,4] 
is_fifth_column_empty = canada_alcohol == ''
canada_alcohol[is_fifth_column_empty] = '0'
canada_alcohol = np.asfarray(canada_alcohol, float)
total_canadian_drinking = canada_alcohol.sum()

In [159]:
# we know how to calculate the average consumption of all types of alcohol for a single country and year
is_slovenia_alcohol = (world_alcohol[:, 2] == 'Slovenia') & (world_alcohol[:, 0] == '1985')
slovenia_1985 = world_alcohol[is_slovenia_alcohol, :]
slovenia_alcohol = slovenia_1985[:, 4]
is_slovenia_alcohol_empty = slovenia_alcohol == ''
slovenia_alcohol[is_slovenia_alcohol_empty] = '0'
slovenia_alcohol = np.asfarray(slovenia_alcohol, float)
total_slovenia_alcohol = slovenia_alcohol.sum()
total_slovenia_alcohol

15.080000000000002

### Calculating Consumption for Each Country
Scale up the process and make the same calculation for all countries in a given year.

In [206]:
totals = {}
is_year = world_alcohol[:, 0] == '1989'
year = world_alcohol[is_year, :]
countries = world_alcohol[:, 2].tolist()
for country in countries:
    is_country = year[:, 2] == country
    country_consumption = year[is_country,:]
    country_alcohol = country_consumption[:,4]
    is_contry_alcohol_empty = country_alcohol == ''
    country_alcohol[is_contry_alcohol_empty] = '0'
    country_alcohol = np.asfarray(country_alcohol, float)
    total_country_alcohol = country_alcohol.sum()
    totals[country] = total_country_alcohol

### Finding the Country that Drinks the Most
Now that we've computed total alcohol consumption for each country in 1989, we can loop through the totals dictionary to find the country with the highest value.

In [204]:
highest_key = max(totals, key = totals.get)
highest_value = totals[max(totals, key = totals.get)]
print(highest_key, highest_value)

('Hungary', 16.29)

In [205]:
totals
highest_value = 0
highest_key = None
for country in totals:
    consumption = totals[country]
    if consumption > highest_value:
        highest_value = consumption
        highest_key = country 
print(highest_key, highest_value)

('Hungary', 16.29)