## List Comprehensions 

We'll continue to work with legislators.csv data set. In this mission, we'll use the data to find the most common names among U.S. legislators of each gender.

In [26]:
%run 'error-handling.ipynb'


### Enumerate

In [ ]:
# Enumerate the ships list using a for loop and the enumerate() function.
ships = ["Andrea Doria", "Titanic", "Lusitania"]
cars = ["Ford Edsel", "Ford Pinto", "Yugo"]
for i, ship in enumerate(ships):
    print(ship, cars[i])

### Adding columns

In [ ]:
# Loop through each row in things using the enumerate() function.
things = [["apple", "monkey"], ["orange", "dog"], ["banana", "cat"]]
trees = ["cedar", "maple", "fig"]
for i, thing in enumerate(things):
    thing.append(trees[i])

### List comprehensions

In [ ]:
# Use list comprehension to create a new list called apple_prices_doubled,
# where you multiply each item in apple_prices by 2.
# Use list comprehension to create a new list called apple_prices_lowered, 
# where you subtract 100 from each item in apple_prices.
apple_prices = [100, 101, 102, 105]
apple_prices_doubled = [apple * 2 for apple in apple_prices]
apple_prices_lowered = [apple - 100 for apple in apple_prices]

### Counting female names


* Create an empty dictionary called name_counts.
    * Loop through each row in legislators.
       - If the gender column of the row equals F and the year column is greater than 1940:
            - Assign the first_name column of the row to the variable name.
       - If name is in name_counts:
           - Add 1 to the value associated with name in name_counts.
       - If name isn't in name_counts:
           - Set the value associated with name in name_counts to 1.

* When the loop finishes, name_counts should contain each unique name in the first_name column of legislators as a key, and the corresponding number of times it appeared as the value.

#### legislators to df

In [80]:
df = legislators
df[:1]

,last_name,first_name,birthday,gender,type,state,party,birth_year
0,Bassett,Richard,1745-04-02,M,sen,DE,Anti-Administration,1745.0

In [52]:
# name_counts should contain each unique name in the first_name column of legislators as a key,
# and the corresponding number of times it appeared as the value
name_counts = {}
for index, row in df.iterrows():
    gender = row[3]
    year = row[7]
    if gender == "F" and year > 1940:
        name = row[1]
        if name in name_counts:
            name_counts[name] = name_counts[name] + 1
        else:
            name_counts[name] = 1
            
print(name_counts)

{'Enid': 1, 'Lynn': 1, 'Karen': 2, 'Jennifer': 1, 'Denise': 1, 'Katherine': 1, 'Melissa': 2, 'Blanche': 1, 'Cynthia': 1, 'Anne': 1, 'Shelley': 2, 'Nancy': 1, 'Hillary': 1, 'Barbara': 1, 'Jo Ann': 2, 'Thelma': 1, 'Stephanie': 2, 'Marilyn': 1, 'Deborah': 2, 'Heather': 1, 'Virginia': 1, 'Kathleen': 2, 'Mary': 2, 'Carolyn': 1, 'Mary Jo': 1, 'Suzanne': 1, 'Betsy': 1, 'Hilda': 1, 'Ellen': 1, 'Gabrielle': 1, 'Jane': 1, 'Kay': 1, 'Olympia': 1, 'Sandy': 1, 'Ann Marie': 1, 'Nan': 1, 'Sue': 1, 'Laura': 1, 'Jean': 1, 'Betty': 1}

### Comparing with None

In [55]:
# checks should be a list of Booleans indicating whether or not the corresponding items in values
# are not None and greater than 30
values = [None, 10, 20, 30, None, 50]
checks = []
value = None
for value in values:
    check = value is not None and value > 30
    checks.append(check)
    
print(checks)

[False, False, False, False, False, True]

### Highest female name count

In [62]:
# max_value will contain the largest value in name_counts
max_value = None
for key in name_counts:
    count = name_counts[key]
    if max_value is None or count > max_value:
        max_value = count

print(max_value)

2

### The items method

In [63]:
# Use the items() method to iterate through the keys and values in plant_types
# Print each key in plant_types
# Print each value in plant_types
plant_types = {"orchid": "flower", "cedar": "tree", "maple": "tree"}
for key, value in plant_types.items():
    print(key, value)

orchid flower
cedar tree
maple tree

### Finding the most common female names

In [67]:
# As we learned on a previous screen, the most common female names occur two times in name_counts. 
# Therefore, we want to extract any keys in name_counts that have the value 2

top_female_names = []
for name, value in name_counts.items():
    if value == 2:
        top_female_names.append(name)
        
print(top_female_names)

['Karen', 'Melissa', 'Shelley', 'Jo Ann', 'Stephanie', 'Deborah', 'Kathleen', 'Mary']

### Finding the most common male names

In [77]:
# Now that we know how to find the most common female names, we can repeat the same process for male names.
male_name_counts = {}
for index,row in df.iterrows():
    gender = row[3]
    year = row[7]
    if gender == "M" and year > 1940:
        name = row[1]
        if name in male_name_counts:
            male_name_counts[name] = male_name_counts[name] + 1
        else:
            male_name_counts[name] = 1
            
highest_male_count = None 
for key, value in male_name_counts.items():
    if highest_male_count is None or value > highest_male_count :
        highest_male_count = value
        
top_male_names = []    
for key, value in male_name_counts.items():
    if highest_male_count == value:
        top_male_names.append(key)
        
print(top_male_names)

['John']